{% load static %}
<!doctype html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width,initial-scale=1" />
   <meta http-equiv="X-UA-Compatible" content="ie=edge" />
   <title>TakeNote</title>
   <link rel="icon" href="{% static '/favicon.ico' %}">
   <script defer="defer" src="{% static '/runtime~main.f5a1d2be24eb1721422d.bundle.js' %}"></script>
   <script defer="defer" src="{% static '/vendors.f5a1d2be24eb1721422d.bundle.js' %}"></script>
   <script defer="defer" src="{% static '/main.f5a1d2be24eb1721422d.bundle.js' %}"></script>
   <link href="{% static '/styles/main.52709cf85c4fb31aa08d.css' %}" rel="stylesheet">
</head>

<body>
   <script>if (typeof window.__REACT_DEVTOOLS_GLOBAL_HOOK__ === 'object') {
         __REACT_DEVTOOLS_GLOBAL_HOOK__.inject = function () { };
      }</script>
   <div id="root"></div>
   <div id="context-menu"></div>
</body>

</html>